@import 'vars';
@import 'functions';
@import 'mixins';
@import '@angular/cdk/overlay-prebuilt.css';

:root {
  --color-red: #{$colorRed};
  --color-red-hover: #{$colorRedHover};
  --color-black: #{$colorBlack};
  --color-white: #{$colorWhite};
  --color-contrast-white: #{$colorWhite};
  --color-contrast-black: #{$colorBlack};
  --color-gradient: #{$colorGradient};
  --color-gradient-red: #{$colorGradientRed};
  --color-shadow: #{$colorShadowBlack};
}

[data-theme='light'] {
  --color-contrast-white: #{$colorWhite};
  --color-contrast-black: #{$colorBlack};
  --color-shadow: #{$colorShadowBlack};
}

[data-theme='dark'] {
  --color-contrast-white: #{$colorBlack};
  --color-contrast-black: #{$colorWhite};
  --color-shadow: #{$colorShadowWhite};
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: var(--color-contrast-white);
  transition: 0.25s ease-in-out;
  color: var(--color-contrast-black);
}
